In [1]:
import os
import ast
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

In [2]:
credits=pd.read_csv("credits.csv")
def extract_actors(obj):
    L=[]
    count=0
    for a in ast.literal_eval(obj):
        if count!=3:
            L.append(a["name"])
            count+=1
        else:
            break
    return L
credits["cast"]=credits["cast"].apply(extract_actors)
def extract_directer(obj):
    for a in ast.literal_eval(obj):
        if a["job"]=="Director":
            return a["name"]
credits["directer"]=credits["crew"].apply(extract_directer)
credits

,cast,crew,id,directer
0,"[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston
2,"[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch
3,"[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker
4,"[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer
...,...,...,...,...
45471,"[Leila Hatami, Kourosh Tahami, Elham Korda]","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,Hamid Nematollah
45472,"[Angel Aquino, Perry Dizon, Hazel Orencio]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Lav Diaz
45473,"[Erika Eleniak, Adam Baldwin, Julie du Page]","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Mark L. Lester
45474,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith

In [3]:
credits["cast"]=credits["cast"].apply(lambda x:[a.replace(" ","") for a in x])
credits["cast"]=credits["cast"].apply(lambda x:[a.lower() for a in x])
credits["directer"]=credits["directer"].astype(str)
credits["directer"]=credits["directer"].apply(lambda x:x.lower())
credits["directer"]=credits["directer"].apply(lambda x:x.replace(" ",""))
credits=credits[["id","cast","directer"]]
credits

,id,cast,directer
0,862,"[tomhanks, timallen, donrickles]",johnlasseter
1,8844,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston
2,15602,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch
3,31357,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker
4,11862,"[stevemartin, dianekeaton, martinshort]",charlesshyer
...,...,...,...
45471,439050,"[leilahatami, kouroshtahami, elhamkorda]",hamidnematollah
45472,111109,"[angelaquino, perrydizon, hazelorencio]",lavdiaz
45473,67758,"[erikaeleniak, adambaldwin, juliedupage]",markl.lester
45474,227506,"[iwanmosschuchin, nathalielissenko, pavelpavlov]",yakovprotazanov
45475,461257,[],daisyasquith

# New Section

In [4]:
keywords=pd.read_csv("keywords.csv")
def extracter(obj):
    L=[]
    for a in ast.literal_eval(obj):
        L.append(a['name'])
    return L
keywords["keywords"]=keywords["keywords"].apply(extracter)
keywords=credits.merge(keywords,on="id")
keywords

,id,cast,directer,keywords
0,862,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy, friendship, friends, riva..."
1,8844,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston,"[board game, disappearance, based on children'..."
2,15602,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch,"[fishing, best friend, duringcreditsstinger, o..."
3,31357,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker,"[based on novel, interracial relationship, sin..."
4,11862,"[stevemartin, dianekeaton, martinshort]",charlesshyer,"[baby, midlife crisis, confidence, aging, daug..."
...,...,...,...,...
46491,439050,"[leilahatami, kouroshtahami, elhamkorda]",hamidnematollah,[tragic love]
46492,111109,"[angelaquino, perrydizon, hazelorencio]",lavdiaz,"[artist, play, pinoy]"
46493,67758,"[erikaeleniak, adambaldwin, juliedupage]",markl.lester,[]
46494,227506,"[iwanmosschuchin, nathalielissenko, pavelpavlov]",yakovprotazanov,[]
46495,461257,[],daisyasquith,[]

In [5]:
movies=pd.read_csv("movies_metadata.csv")
movies=movies[["id","original_title","overview","genres","original_language","popularity",
               "vote_average","vote_count","release_date","title"]]

C:\Users\naga pavan\AppData\Local\Temp\ipykernel_27632\2804437207.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv("movies_metadata.csv")

In [6]:
movies["genres"]=movies["genres"].apply(extracter)
movies["genres"]=movies["genres"].apply(lambda x:[a.lower() for a in x])
#print(movies["id"].index[movies["id"]=="2014-01-01"].tolist())
movies=movies.drop(35587)
#print(movies["id"].index[movies["id"]=="1997-08-20"].tolist())
movies=movies.drop(19730)
#print(movies["id"].index[movies["id"]=="2012-09-29"].tolist())
movies=movies.drop(29503)
movies["id"]=movies["id"].astype(int)
movies=movies.merge(keywords,on="id")

movies["overview"]=movies["overview"].astype(str)
movies["overview"]=movies["overview"].apply(lambda x:x.split())
movies["overview"]=movies["overview"].apply(lambda x:[a.lower() for a in x])



movies["original_title"]=movies["original_title"].astype(str)
movies["original_title"]=movies["original_title"].apply(lambda x:x.replace(" ",""))
movies["original_title"]=movies["original_title"].apply(lambda x:x.lower())

In [ ]:
# import json
# def extract_name(str):
#     try:
#         dict = json.loads(str.replace("'", '"'))
#         return dict.get('name', 'No Name')
#     except (json.JSONDecodeError, AttributeError):
#         return ''
# movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(extract_name)
# movies['belongs_to_collection']=movies['belongs_to_collection'].apply(lambda x:x.replace(" ",""))
# movies['belongs_to_collection']=movies['belongs_to_collection'].apply(lambda x:x.lower())

In [7]:
movies

,id,original_title,overview,genres,original_language,popularity,vote_average,vote_count,release_date,title,cast,directer,keywords
0,862,toystory,"[led, by, woody,, andy's, toys, live, happily,...","[animation, comedy, family]",en,21.946943,7.7,5415.0,1995-10-30,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy, friendship, friends, riva..."
1,8844,jumanji,"[when, siblings, judy, and, peter, discover, a...","[adventure, fantasy, family]",en,17.015539,6.9,2413.0,1995-12-15,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston,"[board game, disappearance, based on children'..."
2,15602,grumpieroldmen,"[a, family, wedding, reignites, the, ancient, ...","[romance, comedy]",en,11.7129,6.5,92.0,1995-12-22,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch,"[fishing, best friend, duringcreditsstinger, o..."
3,31357,waitingtoexhale,"[cheated, on,, mistreated, and, stepped, on,, ...","[comedy, drama, romance]",en,3.859495,6.1,34.0,1995-12-22,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker,"[based on novel, interracial relationship, sin..."
4,11862,fatherofthebridepartii,"[just, when, george, banks, has, recovered, fr...",[comedy],en,8.387519,5.7,173.0,1995-02-10,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort]",charlesshyer,"[baby, midlife crisis, confidence, aging, daug..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,439050,رگخواب,"[rising, and, falling, between, a, man, and, w...","[drama, family]",fa,0.072051,4.0,1.0,NaN,Subdue,"[leilahatami, kouroshtahami, elhamkorda]",hamidnematollah,[tragic love]
46624,111109,siglongpagluluwal,"[an, artist, struggles, to, finish, his, work,...",[drama],tl,0.178241,9.0,3.0,2011-11-17,Century of Birthing,"[angelaquino, perrydizon, hazelorencio]",lavdiaz,"[artist, play, pinoy]"
46625,67758,betrayal,"[when, one, of, her, hits, goes, wrong,, a, pr...","[action, drama, thriller]",en,0.903007,3.8,6.0,2003-08-01,Betrayal,"[erikaeleniak, adambaldwin, juliedupage]",markl.lester,[]
46626,227506,satanalikuyushchiy,"[in, a, small, town, live, two, brothers,, one...",[],en,0.003503,0.0,0.0,1917-10-21,Satan Triumphant,"[iwanmosschuchin, nathalielissenko, pavelpavlov]",yakovprotazanov,[]
46627,461257,queerama,"[50, years, after, decriminalisation, of, homo...",[],en,0.163015,0.0,0.0,2017-06-09,Queerama,[],daisyasquith,[]

In [8]:
movies["tags"]=movies["genres"]+movies["cast"]+movies["overview"]+movies["keywords"]
titles_to_delete=["Luv","Sur","Lilla Jönssonligan på styva linan"]
movies=movies[~movies['title'].isin(titles_to_delete)]
movies

,id,original_title,overview,genres,original_language,popularity,vote_average,vote_count,release_date,title,cast,directer,keywords,tags
0,862,toystory,"[led, by, woody,, andy's, toys, live, happily,...","[animation, comedy, family]",en,21.946943,7.7,5415.0,1995-10-30,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy, friendship, friends, riva...","[animation, comedy, family, tomhanks, timallen..."
1,8844,jumanji,"[when, siblings, judy, and, peter, discover, a...","[adventure, fantasy, family]",en,17.015539,6.9,2413.0,1995-12-15,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston,"[board game, disappearance, based on children'...","[adventure, fantasy, family, robinwilliams, jo..."
2,15602,grumpieroldmen,"[a, family, wedding, reignites, the, ancient, ...","[romance, comedy]",en,11.7129,6.5,92.0,1995-12-22,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch,"[fishing, best friend, duringcreditsstinger, o...","[romance, comedy, waltermatthau, jacklemmon, a..."
3,31357,waitingtoexhale,"[cheated, on,, mistreated, and, stepped, on,, ...","[comedy, drama, romance]",en,3.859495,6.1,34.0,1995-12-22,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker,"[based on novel, interracial relationship, sin...","[comedy, drama, romance, whitneyhouston, angel..."
4,11862,fatherofthebridepartii,"[just, when, george, banks, has, recovered, fr...",[comedy],en,8.387519,5.7,173.0,1995-02-10,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort]",charlesshyer,"[baby, midlife crisis, confidence, aging, daug...","[comedy, stevemartin, dianekeaton, martinshort..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,439050,رگخواب,"[rising, and, falling, between, a, man, and, w...","[drama, family]",fa,0.072051,4.0,1.0,NaN,Subdue,"[leilahatami, kouroshtahami, elhamkorda]",hamidnematollah,[tragic love],"[drama, family, leilahatami, kouroshtahami, el..."
46624,111109,siglongpagluluwal,"[an, artist, struggles, to, finish, his, work,...",[drama],tl,0.178241,9.0,3.0,2011-11-17,Century of Birthing,"[angelaquino, perrydizon, hazelorencio]",lavdiaz,"[artist, play, pinoy]","[drama, angelaquino, perrydizon, hazelorencio,..."
46625,67758,betrayal,"[when, one, of, her, hits, goes, wrong,, a, pr...","[action, drama, thriller]",en,0.903007,3.8,6.0,2003-08-01,Betrayal,"[erikaeleniak, adambaldwin, juliedupage]",markl.lester,[],"[action, drama, thriller, erikaeleniak, adamba..."
46626,227506,satanalikuyushchiy,"[in, a, small, town, live, two, brothers,, one...",[],en,0.003503,0.0,0.0,1917-10-21,Satan Triumphant,"[iwanmosschuchin, nathalielissenko, pavelpavlov]",yakovprotazanov,[],"[iwanmosschuchin, nathalielissenko, pavelpavlo..."
46627,461257,queerama,"[50, years, after, decriminalisation, of, homo...",[],en,0.163015,0.0,0.0,2017-06-09,Queerama,[],daisyasquith,[],"[50, years, after, decriminalisation, of, homo..."

In [9]:
content=movies[["id","original_title","tags","directer"]]
content["tags"]=content["tags"].apply(lambda x:" ".join(x))
#content["tags"]=content["tags"].apply(lambda x:x.replace(" ,"," "))
# content["tags"]=content["tags"].apply(lambda x:x.lower())
content=content[:42500]
# for x in content["overview"]:
#     print(type(x))
content["tags"]=content["original_title"]+" "+content["directer"]+" "+content["tags"]
content.loc[0]

C:\Users\naga pavan\AppData\Local\Temp\ipykernel_27632\1832395797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content["tags"]=content["tags"].apply(lambda x:" ".join(x))

id                                                              862
original_title                                             toystory
tags              toystory johnlasseter animation comedy family ...
directer                                               johnlasseter
Name: 0, dtype: object

In [10]:
'''from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(max_features=10000,stop_words="english")
count_matrix = count_vectorizer.fit_transform(content["tags"])
count_array = count_matrix.toarray()
feature_names = count_vectorizer.get_feature_names_out()
count_df = pd.DataFrame(count_array, columns=feature_names)
print(count_df)'''




from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=10000,stop_words="english")
tfidf_matrix = tfidf_vectorizer.fit_transform(content["tags"])
tfidf_array = tfidf_matrix.toarray()
feature_names = tfidf_vectorizer.get_feature_names_out()
tfidf_df = pd.DataFrame(tfidf_array, columns=feature_names)
print(tfidf_matrix.shape)


ids=movies[["id"]][:42500]
tfidf_df=ids.merge(tfidf_df,left_index=True, right_index=True)
# tfids_df=tfidf_df.set_index(ids)
tfidf_df

(42500, 10000)

,id,000,10,100,11,12,12th,13,13th,14,...,zero,zeus,zhang,zijn,zoe,zombie,zombies,zone,zoo,éricrohmer
0,862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42495,408267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42496,81400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42497,140541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42498,303680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42499,220447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# def centroid(obj):
#     title_to_id=dict(zip(movies['original_title'], movies["id"]))
#     ids=[title_to_id[title] for title in obj]
#     centroid=tfidf_df.loc[tfidf_df['id'].isin(ids)].mean()
#     return centroid

# L=["ironman","ironman2"]
# centroid_vector=centroid(L)
# centroid_vector
# centroid_vector=pd.DataFrame([centroid_vector], columns=tfidf_df.columns)
# tfidf_df=pd.concat([tfidf_df,centroid_vector], ignore_index=True)
# tfidf_df

In [ ]:
# from sklearn.metrics.pairwise import euclidean_distances
# query_vector = tfidf_df.iloc[-1, 1:].values.reshape(1, -1)
# other_vectors = tfidf_df.iloc[:-1, 1:].values
# distances = euclidean_distances(query_vector, other_vectors)
# k=100
# # min_distance = distances.min()  # Get the minimum value from the distances array
# # print(min_distance)
# # max_distance = distances.max()  # Get the minimum value from the distances array
# # print(max_distance)
# k_indices = np.argsort(distances)[0][:k]
# # print(f"Indices of nearest neighbors: {k_indices}")
# recs=tfidf_df["id"][k_indices]
# # print(recs)

In [ ]:
# movids=movies.loc[movies['id'].isin(recs)]
# movids

In [ ]:
# title_to_id=dict(zip(movies['id'], movies['title']))
# recommendations_title_id=[title_to_id[id] for id in recs]
# (recommendations_title_id)

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# last_row = tfidf_df.iloc[-1, 1:].values.reshape(1, -1)
# other_rows = tfidf_df.iloc[:-1, 1:].values
# similarities = cosine_similarity(last_row, other_rows)
# one=1
# similarities=np.append(similarities,one)
# similarities
# tfidf_df['cosine_similarity'] = similarities[0]

# #Display the DataFrame without the 'id' column
# result_df = tfidf_df.drop(columns=['id'])
# print(result_df)

#siims=result_df["cosine_similarity"]
# result_df=result_df.sort_values(by='cosine_similarity', ascending=False)
# result_df

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# cosine_similarities=cosine_similarity(tfidf_df.loc[42500],tfidf_df)
# cosine_similarities

In [ ]:
# import numpy as np
# from collections import Counter
# def centroid(obj):
#     title_to_id=dict(zip(movies['original_title'], movies["id"]))
#     ids=[title_to_id[title] for title in obj]
#     centroid=tfidf_df.loc[tfidf_df['id'].isin(ids)].mean()
#     return centroid

# L = ["ironman", "batman", "theavengers"]
# centroid_vector = centroid(L)
# centroid_vector

# class KNN:
#     def __init__(self, k=3):
#         self.k = k

#     def fit(self, X):
#         self.X_train = X

#     def predict(self, X):
#         y_pred = [self._predict(x) for x in X]
#         return np.array(y_pred)

#     def _predict(self, x):
#         distances = [np.sqrt(np.sum((x - x_train)**2)) for x_train in self.X_train]
#         k_indices = np.argsort(distances)[1:self.k+1]
#         return k_indices

# if __name__ == "__main__":
#     X =   centroid_vector # Get data from the function

#     clf = KNN(k=2)
#     clf.fit(X)

#     nearest_neighbors = clf.predict(X)

#     for point, neighbors in zip(X, nearest_neighbors):
#         print(f"Point {point} has nearest neighbors: {X[neighbors]}")

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# cosine_similarities=cosine_similarity(tfidf_matrix,tfidf_matrix)
# cosine_similarities

In [ ]:
#  def get_recommendations_title(title,movies):
#     if title=="skip":
#          return None
#     index = movies[movies["original_title"]==title].index[0]
#     if index==0:
#         print("Movie not found1")
#         return None
#     sim_scores = list(enumerate(cosine_similarities[index]))
#     if not sim_scores:
#         print("Movie not found2")
#         return None
#     sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
#     sim_scores = sim_scores[1:11]
#     movie_indices = [score[0] for score in sim_scores]
#     return movies['id'].iloc[movie_indices]

# movie="ironman"
# recommendations_title = get_recommendations_title(movie,movies)
# print(f"Recommended movies for {movie}:")
# print(recommendations_title)

In [ ]:
# def list_genre(genre,movies):
#     L = []
#     for i, x in enumerate(movies["genres"]):
#         if genre in x:
#             L.append(i)
#     return L

# def get_recommendations_genre(genre,movies):
#     if genre=="skip":
#         return None
#     L = list_genre(genre,movies)
#     if not L:
#         print("Movie not found")
#         return None
#     return movies['title'].iloc[L]

# movie_genre = 'foreign'
# recommendations_genre = get_recommendations_genre(movie_genre,movies)
# print(f"Recommended movies for {movie_genre}:")
# print(recommendations_genre)

In [ ]:
# def list_cast(cast,movies):
#     L = []
#     for i, x in enumerate(movies["cast"]):
#         if cast in x:
#             L.append(i)
#     return L

# def get_recommendations_cast(cast,movies):
#     if cast=="skip":
#         return None
#     L = list_cast(cast,movies)
#     if not L:
#         print("Movie not found")
#         return None
#     return movies['id'].iloc[L]

# # movie_cast = 'tomcruise'
# # recommendations_cast = get_recommendations_cast(movie_cast)
# # print(f"Recommended movies for {movie_cast}:")
# # print(recommendations_cast)

In [ ]:
# def list_lang(lang,movies):
#     L = []
#     for i, x in enumerate(movies["original_language"]):
#         if lang==x:
#             L.append(i)
#     return L

# def get_recommendations_lang(lang,movies):
#     if lang=="skip":
#         return None
#     L = list_lang(lang)
#     if not L:
#         print("Movie not found")
#         return None
#     return movies['id'].iloc[L]

# # movie_lang = 'en'
# # recommendations_lang = get_recommendations_lang(movie_lang,movies["original_language"])
# # print(f"Recommended movies for {movie_lang}:")
# # print(recommendations_lang)

In [ ]:
# def list_dir(dir,movies):
#     L = []
#     for i, x in enumerate(movies["directer"]):
#         if dir==x:
#             L.append(i)
#     return L

# def get_recommendations_dir(dir,movies):
#     L = list_dir(dir,movies)
#     if not L:
#         print("Movie not found")
#         return None
#     return movies['id'].iloc[L]

# # movie_dir = 'christophernolan'
# # recommendations_dir = get_recommendations_dir(movie_dir)
# # print(f"Recommended movies for {movie_dir}:")
# # print(recommendations_dir)

In [ ]:
# def list_collection(collection,movies):
#     L = []
#     for i, x in enumerate(movies["belongs_to_collection"]):
#         if collection==x:
#             L.append(i)
#     return L

# def get_recommendations_collection(collection,movies):
#     L = list_dir(collection,movies)
#     if not L:
#         print("Movie not found")
#         return None
#     return movies['title'].iloc[L]

# # movie_collection = 'starwarscollection'
# # recommendations_collection = get_recommendations_dir(movie_collection)
# # print(f"Recommended movies for {movie_lang}:")
# # print(recommendations_collection)

In [ ]:
# SET BASED SYSTEM BASICALLY 3 SET KA INTERSECTION NIKALEGA
# recommendations_title_set=set(recommendations_title)
# recommendations_genre_set=set(recommendations_genre)
# recommendations_lang_set=set(recommendations_lang)
# recommendations=recommendations_title_set.intersection(recommendations_genre_set,recommendations_lang_set)
# for x in recommendations:
#     print(x)

In [ ]:
# def popularity_sort(obj,movies):
#     populars=movies[["popularity","id"]]
#     populars=populars.loc[populars['id'].isin(obj)]
#     populars["popularity"]=populars["popularity"].astype(str)
#     populars=populars.sort_values(by="popularity", ascending=False)
#     populars=populars["id"][:10]
#     return populars
    # title_to_id=dict(zip(movies['id'], movies['title']))
    # return [title_to_id[id] for id in populars]

In [ ]:
# L=["Luv"]
# title_to_id=dict(zip(movies['title'], movies['id']))
# recommendations_title_id=[title_to_id[id] for id in L]
# (recommendations_title_id)

# recommendations_genre_id=[title_to_id[id] for id in recommendations_genre_sort]
# (recommendations_genre_id)

# recommendations_lang_id=[title_to_id[id] for id in recommendations_lang_sort]
# (recommendations_lang_id)

In [ ]:
# recs=[24428.0,2661.0,57548.0,46770.0,99861.0,300424.0,222619.0,222619.0,259910.0,10138.0,271110.0,119569.0,21683.0]
# title_to_id=dict(zip(movies['id'], movies['title']))
# recommendations_title_id=[title_to_id[id] for id in recs]
# (recommendations_title_id)

In [ ]:
# def get_recs_title(obj,movies,tfidf_df):
#     title_to_id=dict(zip(movies['original_title'], movies["id"]))
#     ids=[title_to_id[title] for title in obj]
#     centroid=tfidf_df.loc[tfidf_df['id'].isin(ids)].mean()
#     centroid_vector=pd.DataFrame([centroid], columns=tfidf_df.columns)
#     tfidf_df=pd.concat([tfidf_df,centroid_vector], ignore_index=True)
#     query_vector = tfidf_df.iloc[-1, 1:].values.reshape(1, -1)
#     other_vectors = tfidf_df.iloc[:-1, 1:].values
#     distances = euclidean_distances(query_vector, other_vectors)
#     k=100
#     k_indices = np.argsort(distances)[0][:k]
#     recs=tfidf_df["id"][k_indices]
#     return recs

In [ ]:
# def get_recs_lang(lang,movies):
#     L = []
#     for i, x in enumerate(movies["original_language"]):
#         if lang==x:
#             L.append(i)
#     if not L:
#         print("Movie not found lang")
#         return None
#     return movies['id'].iloc[L]

In [ ]:
# def get_recs_genre(genre,movies):
#     L = []
#     for i, x in enumerate(movies["genres"]):
#         if genre in x:
#             L.append(i)
#     if not L:
#         print("Movie not found genre")
#         return None
#     return movies['title'].iloc[L]

In [ ]:
# def get_recs_dir(dir,movies):
#     L = []
#     for i, x in enumerate(movies["directer"]):
#         if dir==x:
#             L.append(i)
#     if not L:
#         print("Movie not found dir")
#         return None
#     return movies['id'].iloc[L]

In [ ]:
# def get_recs_actor(cast,movies):
#     L = []
#     for i, x in enumerate(movies["cast"]):
#         if cast in x:
#             L.append(i)
#     if not L:
#         print("Movie not found actor")
#         return None
#     return movies['id'].iloc[L]

In [11]:
ratings = pd.read_csv('ratings_small.csv')
movie_id_to_title = dict(zip(movies['id'].astype(str), movies['title']))
# movie_title_to_id = {v: k for k, v in movie_id_to_title.items()}
movie_title_to_id = dict(zip(movies['original_title'].astype(str), movies['id']))
ratings = ratings.drop('timestamp', axis=1)
ratings['rating'].fillna(0, inplace=True)
ratings = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
ratings.columns = ratings.columns.astype(str)

C:\Users\naga pavan\AppData\Local\Temp\ipykernel_27632\199038360.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ratings['rating'].fillna(0, inplace=True)

In [12]:
def get_recs(titles,lang,a,combo,movies,tfidf_df):

    lang_to_lag={"English":"en","French":"fr","Italian":"it","Japanese":"ja","German":"de","Spanish":"es","Russian":"ru","Hindi":"hi","Korean":"ko","Chinese":"zh","skip":"skip"}
    lang=lang_to_lag[lang]
    rec_title=[]
    combo=combo.replace(" ","").lower()



    titles=titles.split(',')
    titles = [x.replace(" ", "").lower() for x in titles]
    if len(titles)==1:
        return []

    # rec_ids=get_recs_title(titles,movies,tfidf_df)
    title_to_id=dict(zip(movies['original_title'], movies["id"]))
    ids=[title_to_id[title] for title in titles]
    centroid=tfidf_df.loc[tfidf_df['id'].isin(ids)].mean()
    centroid_vector=pd.DataFrame([centroid], columns=tfidf_df.columns)
    tfidf_df=pd.concat([tfidf_df,centroid_vector], ignore_index=True)
    query_vector = tfidf_df.iloc[-1, 1:].values.reshape(1, -1)
    other_vectors = tfidf_df.iloc[:-1, 1:].values
    distances = euclidean_distances(query_vector, other_vectors)
    k=100
    k_indices = np.argsort(distances)[0][:k]
    rec_ids=tfidf_df["id"][k_indices]
    rec_ids=list(rec_ids)
    rec_idss=rec_ids
    movs=movies.loc[movies['id'].isin(rec_ids)]
    id_to_title=dict(zip(movies['id'], movies['title']))

    # input_movie_id=[movie_title_to_id[id] for id in titles]
    # input_movie_id=int(input_movie_id[0])




    if lang!="skip":
        # rec_ids=get_recs_lang(lang,movs)
        L = []
        for i, x in enumerate(movs["original_language"]):
            if lang==x:
                L.append(i)
        if not L:
            print("Movie not found lang")
        rec_idss=movs['id'].iloc[L]
        movs=movs.loc[movs['id'].isin(rec_idss)]



    if a==0 and combo!="skip":
        # rec_ids=get_recs_genre(combo,movs)
        L = []
        for i, x in enumerate(movs["genres"]):
            if combo in x:
                L.append(i)
        if not L:
            print("Movie not found genre")
        rec_idss=movs['id'].iloc[L]
        movs=movs.loc[movs['id'].isin(rec_idss)]



    elif a==1 and combo!="skip":
        # rec_ids=get_recs_dir(combo,movs)
        L = []
        for i, x in enumerate(movs["directer"]):
            if combo in x:
                L.append(i)
        if not L:
            print("Movie not found genre")
        rec_idss=movs['id'].iloc[L]
        movs=movs.loc[movs['id'].isin(rec_idss)]


    elif a==2 and combo!="skip":
        # rec_ids=get_recs_actor(combo,movs)
        L = []
        for i, x in enumerate(movs["cast"]):
            if combo in x:
                L.append(i)
        if not L:
            print("Movie not found actor")
        rec_idss=movs['id'].iloc[L]
        movs=movs.loc[movs['id'].isin(rec_idss)]


    # rec_ids=list(rec_ids)
    # rec_idss=pd.Series(rec_idss)
    # arec_ids=np.array(rec_ids)
    # arec_idss=np.array(rec_idss)
    # positions = np.searchsorted(arec_ids,arec_idss)
    # extracted_elements = rec_ids.iloc[positions]
    # print(extracted_elements,rec_ids,rec_idss)
    # rec_idss=sorted(rec_idss,key=lambda x: rec_ids.index(x))

    # movs['temp_sort'] = movs['id'].map(dict(zip(rec_ids, range(len(rec_ids)))))
    # sort_movies = movs.sort_values(by='temp_sort')
    # sort_movies.drop(columns=['temp_sort'], inplace=True)
    # recs=sort_movies["title"][:10]
    # recs = [id_to_title.get(id) for id in rec_idss if id in id_to_title]


    rec_idss=list(rec_idss)
    # print(rec_ids,"/n/n",rec_idss)
    rec_idss1 = sorted(rec_idss, key=lambda x: rec_ids.index(x))
    # print(rec_idss1)
    recs = [id_to_title.get(id) for id in rec_idss1 if id in id_to_title]




    input_movie_titles = titles
    if len(input_movie_titles) == 0:
        print("No movie titles provided. Cannot make recommendations without input.")
    else:
        valid_movie_ids = [movie_title_to_id[title] for title in input_movie_titles if title in movie_title_to_id]

        if len(valid_movie_ids) == 0:
            print("None of the provided movie titles were found in the database. Cannot make recommendations without valid input.")
        else:
            combined_similarities = np.zeros(ratings.shape[0])
            for movie_id in valid_movie_ids:
                if movie_id in ratings.columns:
                    highest_rated_users = ratings[movie_id].idxmax()
                    similarities = cosine_similarity(ratings)
                    combined_similarities += similarities[highest_rated_users]
                # else:
                #     print(f"Warning: Movie ID {movie_id} not found in ratings.")

            most_similar_users = ratings.index[np.argsort(combined_similarities)[::-1]]
            recommended_movies = set()
            for user in most_similar_users:
                unseen_movies = ratings.columns[(ratings.loc[user] == 0) & (~ratings.columns.isin(valid_movie_ids))]
                for movie in unseen_movies:
                    recommended_movies.add(movie)
                    if len(recommended_movies) >= 10:
                        break

                # reco_ids = list(recommended_movies)[:10]
                # recs2= [id_to_title.get(id) for id in reco_ids if id in id_to_title]

                recommended_movie_ids = list(recommended_movies)[:10]
                rec_title = [movie_id_to_title[movie_id] for movie_id in recommended_movie_ids if movie_id in movie_id_to_title]

        return recs ,rec_title

In [13]:
L="Harry Potter and the Prisoner of Azkaban,Harry Potter and the Goblet of Fire,iron man"
reccs,reccs2=get_recs(L,"English",0,"skip",movies,tfidf_df)
reccs=reccs[:11]
reccs2=reccs2[:11]
print(reccs)
print(reccs2)

['Harry Potter and the Prisoner of Azkaban', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Order of the Phoenix', 'Harry Potter and the Deathly Hallows: Part 2', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Half-Blood Prince', 'Harry Potter and the Deathly Hallows: Part 1', 'Willow', 'The Kidnappers', 'Wonder Bar']
['Ariel', 'Shadows in Paradise', 'Judgment Night', 'Four Rooms']

In [14]:
lang="Italian"
lang_to_lag={"English":"en","French":"fr","Italian":"it","Japanese":"ja","German":"de","Spanish":"es","Russian":"ru","Hindi":"hi","Korean":"ko","Chinese":"zh"}
lang=lang_to_lag[lang]
print(lang)

it

In [ ]:
# ratings=pd.read_csv('ratings_small.csv')
# movie_id_to_title=dict(zip(movies['id'].astype(str), movies['title']))
# movie_title_to_id=dict(zip(movies['title'].astype(str), movies['id']))
# ratings = ratings.drop('timestamp', axis=1)
# ratings['rating'].fillna(0, inplace=True)
# ratings = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
# ratings.columns = ratings.columns.astype(str)

In [ ]:

# # L=["Harry Potter and the Prisoner of Azkaban"]
# input_movie_id=[movie_title_to_id[id] for id in L]
# input_movie_id=int(input_movie_id[0])
# if input_movie_id in ratings.columns:
#     highest_rated_users = ratings[input_movie_id].idxmax()
#     similarities = cosine_similarity(ratings)
#     most_similar_users = ratings.index[np.argsort(similarities[highest_rated_users])[::-1]]
#     recommended_movies = set()

#     for user in most_similar_users:
#         unseen_movies = ratings.columns[(ratings.loc[user] > 0) & (ratings.loc[highest_rated_users] == 0)]
#         for movie in unseen_movies:
#             recommended_movies.add(movie)
#         if len(recommended_movies) >= 10:
#             break
#     recommended_movie_ids = list(recommended_movies)[:10]
#     recommended_movie_titles = [movie_id_to_title[movie_id] for movie_id in recommended_movie_ids if movie_id in movie_id_to_title]
#     return recommended_movie_titles

In [ ]:
# all_genres = [genre for genres_list in movies['genres'] for genre in genres_list]

# # Get unique genres using a set
# unique_genres = set(all_genres)

# print(unique_genres)

In [ ]:
# recommended_movie_titles=["Fuck You!"]
# ratings = pd.read_csv('ratings_small.csv')
# movies = pd.read_csv('movies_metadata.csv')
# ratings = ratings.drop('timestamp', axis=1)
# ratings['rating'].fillna(0, inplace=True)
# ratings = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
# ratings.columns = ratings.columns.astype(str)

# L=["Iron Man","Captain America: The First Avenger","Iron Man 2"]
# movie_title_to_id = dict(zip(movies['title'].astype(str), movies['id']))
# movie_id_to_title = dict(zip(movies['id'].astype(str), movies['title']))
# id_collab=[movie_title_to_id[id] for id in L]
# input_movie_id=id_collab

# if input_movie_id in ratings.columns:
#     highest_rated_user = ratings[input_movie_id].idxmax()
#     similarities = cosine_similarity(ratings)
#     most_similar_users = ratings.index[np.argsort(similarities[highest_rated_user])[::-1]]
#     recommended_movies = set()

#     for user in most_similar_users:
#         unseen_movies = ratings.columns[(ratings.loc[user] > 0) & (ratings.loc[highest_rated_users] == 0)]
#         for movie in unseen_movies:
#             recommended_movies.add(movie)
#             # if len(recommended_movies) >= 10:
#             #     break

#     recommended_movie_ids = list(recommended_movies)#[:10]
#     recommended_movie_titles = [movie_id_to_title[movie_id] for movie_id in recommended_movie_ids if movie_id in movie_id_to_title]

#     print(f"Recommended movies based on user similarity: {recommended_movie_titles}")
# else:
#     print(f"Movie ID  not found in the database.")

In [ ]:
# language_counts = movies['original_language'].value_counts()
# top_10_languages = language_counts.head(10)
# top_10_languages

In [ ]:
# import os
# import ast
# import pandas as pd
# import numpy as np
# from sklearn.metrics.pairwise import cosine_similarity

# ratings = pd.read_csv('ratings_small.csv')
# movies = pd.read_csv('movies_metadata.csv')

# # Create dictionaries mapping movie IDs to titles and vice versa
# movie_id_to_title = dict(zip(movies['id'].astype(str), movies['title']))
# movie_title_to_id = {v: k for k, v in movie_id_to_title.items()}

# ratings = ratings.drop('timestamp', axis=1)
# ratings['rating'].fillna(0, inplace=True)
# ratings = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
# ratings.columns = ratings.columns.astype(str)

# L="Harry Potter and the Prisoner of Azkaban","Harry Potter and the Goblet of Fire"
# input_movie_titles=L

# # Convert titles to their corresponding movie IDs
# valid_movie_ids = [movie_title_to_id[title] for title in input_movie_titles if title in movie_title_to_id]

# if len(valid_movie_ids) == 0:
#     print("None of the provided movie titles were found in the database.")
# else:
#     combined_similarities = np.zeros(ratings.shape[0])

#     for movie_id in valid_movie_ids:
#         if movie_id in ratings.columns:
#             highest_rated_users = ratings[movie_id].idxmax()
#             similarities = cosine_similarity(ratings)
#             combined_similarities += similarities[highest_rated_users]
#         else:
#             print(f"Warning: Movie ID {movie_id} not found in ratings.")

#     most_similar_users = ratings.index[np.argsort(combined_similarities)[::-1]]

#     recommended_movies = set()

#     for user in most_similar_users:
#         unseen_movies = ratings.columns[(ratings.loc[user] == 0) & (~ratings.columns.isin(valid_movie_ids))]
#         for movie in unseen_movies:
#             recommended_movies.add(movie)

#         if len(recommended_movies) >= 10:
#             break

#     recommended_movie_ids = list(recommended_movies)[:10]
#     recommended_movie_titles = [movie_id_to_title[movie_id] for movie_id in recommended_movie_ids if movie_id in movie_id_to_title]

#     print(f"Recommended movies based on user similarity: {recommended_movie_titles}")

In [15]:
large_sorted_list = [2, 5, 7, 9, 11]  # Example larger sorted list
small_list = [7, 2, 9]  # Example smaller list to be sorted

# Sort the small list based on the order of the large sorted list
sorted_small_list = sorted(small_list, key=lambda x: large_sorted_list.index(x))

print(sorted_small_list)

[2, 7, 9]

In [17]:
import os
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#plt.style.use('seaborn-bright')
from sklearn.neighbors import NearestNeighbors
##from fuzzywuzzy import process
%matplotlib inline

In [18]:
ratings=pd.read_csv('ratings_small.csv')
ratings=ratings.drop('timestamp',axis=1)
ratings['rating'].fillna(0,inplace=True)
ratings.head()

C:\Users\naga pavan\AppData\Local\Temp\ipykernel_27632\4172423852.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ratings['rating'].fillna(0,inplace=True)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [19]:
ratings["userId"]=ratings["userId"].astype(int)
ratings["movieId"]=ratings["movieId"].astype(int)
ratings["rating"]=ratings["rating"].astype(float)
ratings

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [20]:
ratings=ratings.pivot(index=['userId'],columns=['movieId'],values='rating').fillna(0)
#ratings=ratings.to_numpy()
ratings

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
U,sigma,Vt=np.linalg.svd(ratings,full_matrices=False)

In [22]:
k=50
U_k=U[:,:k]
sigma_k=np.diag(sigma[:k])
Vt_k=Vt[:k,:]

In [23]:
useritem=np.dot(U_k,np.dot(sigma_k,Vt_k))

In [24]:
rec=useritem[15]
rec=rec.argsort()[::-1]
print(rec[:10])

[ 284 2288  472 1352   48 2062 2374  321  266 3871]

In [25]:
ratings.loc[266][4]

np.float64(0.0)

In [27]:
movies=pd.read_csv("movies_metadata.csv")
movies

C:\Users\naga pavan\AppData\Local\Temp\ipykernel_27632\687440929.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [26]:
mov=movies.loc[movies["id"]=='284']
print(mov["genres"])

Series([], Name: genres, dtype: object)

In [28]:
# mov=movies.loc[movies["id"]=='2288']
# mov["genres"]

In [29]:
# mov=movies.loc[movies["id"]=='472']
# mov["genres"]

In [ ]:
# movies['id'] == '862'

In [ ]:
# movies.head()